﻿
    @if (Model.ResultsFound)
            {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    File Number
                </th>
                <th>
                    Result
                </th>
                <th>
                    Override Reason
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    File Number
                </td>
                <td>
                    Change Address
                </td>
                <td>
                    Overridden bc i said so
                </td>
            </tr>
        </tbody>
    </table>


  

    }
    else
    {
        <h2>No results found.</h2>
    }


