﻿

@{
    ViewBag.Title = "Contact";
}
<h2>Contact Support</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <form class="form-horizontal" action="" method="post">
                    <fieldset>
                        <legend class="text-center"><font size="5">Contact us</font></legend>

                        <!-- Message body -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="message"><font size="3">Your message</font></label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <form method="post" type="submit" action="mailto:Helpdesk@Bylcompanies.com" >
                                    <input type="submit" class="btn btn-primary" value="Submit" />
                                </form>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>