﻿
@{
    ViewBag.Title = "History";
}
@model Bad_Address_Project_112116.Models.GetHistoryRequestModel
<h2>Results</h2>
<form method="post" action="/Home/Contact" class="pull-right">
    <input type="submit" value="Contact Support" />
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Date
            </th>

            <th>
                Number
            </th>

            <th>
                View
            </th>
        </tr>
    </thead>

    <tr>
        <td>
            @DateTime.Now.ToString("MM-dd-yyyy hh:mm tt");
        </td>

        <td>
            1000
        </td>

        <td>

            @using (Html.BeginForm("GetHistory", "Home", FormMethod.Post, new { }))
                    {

            <input type = "submit" class="btn btn-danger" /> 
           // @Html.HiddenFor(m => m.ResultID, new { })
           @Html.TextBoxFor(m => m.ResultID, new { })
            }
            
        </td>
    </tr>





</table>


