﻿@{
    ViewBag.Title = "Home Page";

}

@model Bad_Address_Project_112116.Models.AddressChangeModel

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $('#select-all').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        }
        else {
            $(":checkbox").each(function () { this.checked = false; });
        }
    });

</script>

<div class="container">
    <div class="row">


        <div class="col-md-12">
            <h3><b>Bad Addresses</b></h3>
            <div class="table-responsive">

                @using (Html.BeginForm("RunAddressChange", "Home", FormMethod.Post, new { }))
                {




                    <table id="mytable" class="table table-striped table-bordered">


                        <thead>
                            <tr>
                                <th><font size="3">Good Number</font></th>
                                <th><font size="3">Good Street1</font></th>
                                <th><font size="3">Good Street2</font></th>
                                <th><font size="3">Good City</font></th>
                                <th><font size="3">Good State</font></th>
                                <th><font size="3">Good Zip Code</font></th>


                                <th><font size="3">Bad Number</font></th>
                                <th><font size="3">Bad Street1</font></th>
                                <th><font size="3">Bad Street2</font></th>
                                <th><font size="3">Bad City</font></th>
                                <th><font size="3">Bad State</font></th>
                                <th><font size="3">Bad Zip Code</font></th>
                                <th><font size="3">Recommended Decision</font></th>
                                <th><font size="3">Override Decision</font></th>
                                <th><font size="3">Override Decision Remark</font></th>

                                @if (Model.DisplayErrorMessage)
                                {
                                    <th><font size="4" color="red">Error!</font></th>
                                }

                            </tr>

                        </thead>

                        <tbody>

                            @for (int i = 0; i < Model.Items.Count; i++)
                            {
                                var record = Model.Items[i];





                                <tr>
                                    <td>@record.GoodAccount.FileNumber @Html.HiddenFor(m => m.Items[i].GoodAccount.FileNumber)</td>
                                    <td>@record.GoodAccount.Address.StreetOne @Html.HiddenFor(m => m.Items[i].GoodAccount.Address.StreetOne)</td>
                                    <td>@record.GoodAccount.Address.StreetTwo @Html.HiddenFor(m => m.Items[i].GoodAccount.Address.StreetTwo)</td>
                                    <td>@record.GoodAccount.Address.City @Html.HiddenFor(m => m.Items[i].GoodAccount.Address.City)</td>
                                    <td>@record.GoodAccount.Address.State @Html.HiddenFor(m => m.Items[i].GoodAccount.Address.State)</td>
                                    <td>@record.GoodAccount.Address.ZipCode @Html.HiddenFor(m => m.Items[i].GoodAccount.Address.ZipCode)</td>

                                   

                                    <td>@record.BadAccount.FileNumber @Html.HiddenFor(m => m.Items[i].BadAccount.FileNumber)</td>
                                    <td>@record.BadAccount.Address.StreetOne @Html.HiddenFor(m => m.Items[i].BadAccount.Address.StreetOne)</td>
                                    <td>@record.BadAccount.Address.StreetTwo @Html.HiddenFor(m => m.Items[i].BadAccount.Address.StreetTwo)</td>
                                    <td>@record.BadAccount.Address.City @Html.HiddenFor(m => m.Items[i].BadAccount.Address.City)</td>
                                    <td>@record.BadAccount.Address.State@Html.HiddenFor(m => m.Items[i].BadAccount.Address.State)</td>
                                    <td>@record.BadAccount.Address.ZipCode @Html.HiddenFor(m => m.Items[i].BadAccount.Address.ZipCode)</td>

                                    
                                  
                                    <td><b><font color="DarkOrange">
                                            @Html.DropDownListFor(m => m.Items[i].RecommendedDecision, Bad_Address_Project_112116.Helpers.ListHelper.GetDecisionSelect(Model.Items[i].RecommendedDecision), new { })
                                        </font>
                                        </b>
                                        </td>

                                    <td><b><font color="DarkOrange">
                                        @Html.DropDownListFor(m => m.Items[i].OverriddenDecision, Bad_Address_Project_112116.Helpers.ListHelper.GetDecisionSelect(Model.Items[i].OverriddenDecision), new { })
                                        </font>
                                        </b>
                                    </td>
                                    <td>@Html.TextBoxFor(r => r.Items[i].OverrideDecisionText, new { @class = "form-control" })</td>


                                    @if (Model.DisplayErrorMessage)
                                    {
                                        if (record.Result != null)
                                        {
                                            <td>@record.Result.Message</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                </tr>
                            }


                        </tbody>

                    </table>
                        <input type="submit" class="btn btn-primary pull-right" value="Submit Results" />
                }


            </div>
        </div>
    </div>
</div>

