﻿
@{
    ViewBag.Title = "Results";
}

@model Bad_Address_Project_112116.Models.HistoricalResultsModel


<h2>Results:</h2>
<div class="row">

    <div class="col-lg-3">
        <ul class="list-group">
            <li class="list-group-item">@Ajax.ActionLink("test", "GetResults", new AjaxOptions() { })</li>


        </ul>
    </div>
    
    <div class="col-lg-9">
        <div class="row well">
            <div class="col-lg-12">
                <table class="table table-striped">

                    <thead>

                        <tr>
                            <th><font size="3">UserName</font></th>
                            <th><font size="3">Date/Time</font></th>
                            <th><font size="3">Result ID</font></th>
                        </tr>
                    </thead>

                    <tr>
                        @*<td>@User</td>*@
                        <td>User1</td>

                        <td>
                            @DateTime.Now.ToString("MM-dd-yyyy hh:mm tt")
                        </td>

                        <td>
                            @Model.ResultID;
                        </td>
                    </tr>


                </table>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="results-panel">
                    @Html.Partial("_ResultsPanel")
                </div>
            </div>
        </div>
    </div>
   
</div>
